<div class="m-10 max-w-[800px]">
  <div class="text-[22px] font-bold mb-4">Connect Manager</div>

  <form [formGroup]="emailForm" novalidate>
    <div
      class="flex flex-row justify-center border-b border-solid border-[#0000001f]"
    >
      <div
        class="flex items-center rounded-[5px] m-1 p-[16px] text-white font-bold bg-[#00154f] flex-1 max-w-[30%]"
      >
        <span>Email</span>
      </div>
      <mat-form-field appearance="outline" class="flex-1 pt-[21px] pl-2">
        <mat-label>email</mat-label>
        <input matInput type="text" formControlName="email" />
        <mat-error *ngIf="emailForm.controls['email'].hasError('required')">
          Please enter email.
        </mat-error>
        <mat-error *ngIf="emailForm.controls['email'].hasError('email')">
          email is not in format.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="flex flex-row justify-center items-center gap-5 mt-8">
      <button
        mat-raised-button
        color="primary"
        (click)="findManager()"
        [disabled]="emailForm.invalid"
      >
        Search
      </button>
    </div>
  </form>

  <div *ngIf="manager">
    <table mat-table [dataSource]="manager" class="mt-5">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>emailForm</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="acceptButton">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-stroked-button color="primary" (click)="addManager()">
            Connect
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
