<div class="m-10 max-w-[800px]">
  <div class="text-[22px] font-bold mb-4">Connect Company</div>

  <form [formGroup]="connectCompanyForm" novalidate>
    <div
      class="flex flex-row justify-center border-b border-solid border-[#0000001f]"
    >
      <div
        class="flex items-center rounded-[5px] m-1 p-[16px] text-white font-bold bg-[#00154f] flex-1 max-w-[30%]"
      >
        <span>Company Code</span>
      </div>
      <mat-form-field appearance="outline" class="flex-1 pt-[21px] pl-2">
        <mat-label>Company Code</mat-label>
        <input matInput type="text" formControlName="companyCode" />
        <mat-error
          *ngIf="
            connectCompanyForm.controls['companyCode'].hasError('required')
          "
        >
          Please enter Company Code.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="flex flex-row justify-center items-center gap-5 mt-8">
      <button
        mat-raised-button
        color="primary"
        (click)="requestCompanyConnection()"
        [disabled]="connectCompanyForm.invalid"
      >
        Request
      </button>
    </div>
  </form>
</div>
