$main_color : rgb(0, 21, 79);
// $main_font_color : 
$main_logo_color: rgb(255, 180, 18);


.add_doc_container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 40px;

    .title {
        margin: 0;
        color: $main_color;
    }

    .button_section {
        display: flex;
        justify-content: end;
        gap: 0.5rem;
    }


    .input_section {

        display: flex;
        flex-direction: column;
        gap: 1.5rem;



        .single_file {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            border-radius: 0.5rem;
            padding: 0.2rem 0.5rem;

            .file_info_section {
                display: flex;
                flex-direction: column;
                gap: 0.2rem;

                h4 {
                    margin: 0;
                    color: $main_color;
                    font-size: 15pt;
                }

                p {
                    margin: 0;
                    color: gray;
                }
            }

            .file_button_section {
                button {
                    color: $main_color;

                }

            }
        }
    }



    .dropzone {
        display: flex;
        // border: 1px solid $main_color;
        background-color: white;
        border-radius: 0.5rem;
        height: 300px;
        justify-content: center;
        align-items: center;
        position: relative;

        flex-direction: column;

        gap: 0.5rem;

        input {
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            top: 0;
            left: 0;
        }

        h3 {
            margin: 0;
        }

        .upload_icon {
            color: $main_color;
            width: 100px;
            height: 100px;
            font-size: 100px;
        }



        button {
            border-radius: 0.5rem;
            background-color: #00154F;
        }
    }
}

.fileover>.upload_icon {

    animation: shake 1s;
    animation-iteration-count: infinite;
}


/* Shake animation */
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}



.submit_button {
    background-color: #00154F;
}


.title_section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        font-size: 22px;
        font-weight: bold;

    }

}