<div class="mainTitle">Leave Request Details</div>
<div class="modal-content">
	<table class="modal-table">
		<colgroup>
			<col style="width: 120px" />
			<col style="width: 380px" />
		</colgroup>
		<tbody>
			<tr>
				<th>Status</th>
				<td [ngClass]="{
            approve: data.status == 'approve',
            reject: data.status == 'reject'
          }">
					{{ data.status | titlecase }}
				</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{ data.requestorName }}</td>
			</tr>
			<tr>
				<th>Request day</th>
				<td>{{ data.createdAt | date : "YYYY-MM-dd" }}</td>
			</tr>
			<tr>
				<th>Leave type</th>
				<td>{{ viewType[data.leaveType] }}</td>
			</tr>
			@if(data.leaveType == 'official_leave'){
			<tr>
				<th>Request Document</th>
				<td (click)="downloadFile(data?._id, data?.official_leave_request_file_name)">{{
					data?.official_leave_request_file_name }}</td>
			</tr>
			<tr>
				<th>Confirmation Document</th>
				@if(data?.status =='approve'){
				@if(data?.official_leave_check_file_name) {
				<td>{{ data?.official_leave_check_file_name }}</td>
				}@else if(!data?.isManager) {
				<td>
					<div>
						<input type="file" ngf-select (change)="fileChangeEvent($event)" />
						<div class="choose_button_span" matTooltip="File attachment" matTooltipPosition="above"
							[matTooltipShowDelay]="500"></div>
					</div>

					<button (click)="submitConfirmationDocument()" mat-button>submit</button>
				</td>
				}@else {
				<td></td>
				}
				}
				@else {
				<td></td>
				}
			</tr>
			<tr>
				<th>Checked</th>
				@if(data?.status =='approve'){
				@if(data?.official_leave_check) {
				<td>
					@if(data.isManager){
					<button mat-raised-button class="rejectBtn" (click)="confirmCheck(data?._id, false)">Cancel</button>
					}@else {
					<p>approve</p>
					}
				</td>
				}@else {
				<td>
					@if(data.isManager){
					<button class="requestCancel" color="primary" mat-raised-button style="margin-right: 10px;"
						(click)="confirmCheck(data?._id, true)">Approve</button>
					<button class="rejectBtn" mat-raised-button (click)="confirmCheck(data?._id, false)">Reject</button>
					}
				</td>
				}
				}
				@else {
				<td></td>
				}
			</tr>
			}

			<tr>
				<th>Period</th>
				<td>
					{{ data.leave_start_date | date : " YYYY-MM-dd" }} ~ {{ data.leave_end_date | date : "YYYY-MM-dd" }}
					({{
					data.leaveDuration }} days) </td>
			</tr>
			<tr>
				<th>Leave of used</th>
				<td>{{ data.leaveDuration }} days</td>
			</tr>
			<tr>
				<th>Reason</th>
				<td>{{ data.leave_reason }}</td>
			</tr>
			@if (data.rejectReason) {
			<tr>
				<th>Reject reason</th>
				<td [ngClass]="{ reject: data.status == 'reject' }">
					{{ data.rejectReason }}
				</td>
			</tr>
			} @if (data.approver) {
			<tr>
				<th>Confirmor</th>
				<td>{{ data.approver }}</td>
			</tr>
			} @if (data.reject) {
			<tr>
				<th>Reject reason</th>
				<td>
					<div [formGroup]="rejectForm">
						<textarea formControlName="rejectReason" value=""></textarea>
					</div>
				</td>
			</tr>
			}
		</tbody>
	</table>
	@if (!data.reject) {
	<div class="modal-btn">
		<button class="requestCancel" color="primary" mat-raised-button mat-dialog-close>Confirm</button>
		@if (data.status == 'pending' && !data.isManager) {
		<button class="requestCancel pendingCancel" mat-raised-button (click)="requestCancel()">Pending Cancel</button>
		} @if (data.status == 'approve' && data.isManager) {
		<button class="requestCancel approveCancel" mat-raised-button (click)="approveLeaveCancel()">
			Approve Cancel
		</button>
		}
	</div>
	} @if (data.reject) {
	<div class="modal-btn-reject">
		<button class="rejectBtn" (click)="rejectLeave()" mat-raised-button>Reject</button>
		<button class="cancelBtn" mat-raised-button mat-dialog-close>Cancel</button>
	</div>
	}
</div>