/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

$sidenav-width: 279px;
$sidenav-toolbar-height: 64px; // material default
$sidenav-toolbar-height-mobile: 56px; // material default <599px
//$sidenav-bgColor: #1a202e;
$sidenav-bgColor: #00154f;
//$sidenav-active-color: #141924;
$sidenav-active-color: #f4af1b;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif !important;
}

/* 각 sccs에 넣으면 적용이 안되는 Angular Material */

.mat-mdc-card {
  box-shadow: none !important;
}

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
  .mdc-notched-outline__notch {
  border-right-style: hidden !important;
  box-shadow: none !important;
}

// class Member-select,member-filter의 mat-select 수정
.Member-select,
.member-filter {
  .mat-mdc-select-arrow svg {
    width: 0px !important;
  }
  .mat-mdc-select-trigger {
    width: 0px !important;
  }
}

// scrumboard-list 에서 mat-select 눌렀을 때 나오는 조금한 창
.mat-mdc-select-panel {
  padding: 0px !important;
}
