/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

$sidenav-width: 279px;
$sidenav-toolbar-height: 64px; // material default
$sidenav-toolbar-height-mobile: 56px; // material default <599px
//$sidenav-bgColor: #1a202e;
$sidenav-bgColor: #00154f;
//$sidenav-active-color: #141924;
$sidenav-active-color: #f4af1b;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif !important;
}

/* 각 sccs에 넣으면 적용이 안되는 Angular Material */

.mat-mdc-card {
  box-shadow: none !important;
}

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
  .mdc-notched-outline__notch {
  border-right-style: hidden !important;
  box-shadow: none !important;
}

// class Member-select,member-filter의 mat-select 수정
.Member-select,
.member-filter {
  .mat-mdc-select-arrow svg {
    width: 0px !important;
  }
  .mat-mdc-select-trigger {
    width: 0px !important;
  }
}

// scrumboard-list 에서 mat-select 눌렀을 때 나오는 조금한 창
.mat-mdc-select-panel {
  padding: 0px !important;
}

// small input
.chevrons {
  .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    max-width: 150px !important;
  }

  .mdc-text-field--outlined .mdc-notched-outline {
    height: 40px !important;
  }

  .mat-mdc-form-field-subscript-wrapper {
    height: 0px !important;
  }

  .mdc-text-field--outlined .mat-mdc-form-field-infix,
  .mdc-text-field--no-label .mat-mdc-form-field-infix {
    padding-top: 12px !important;
  }

  .mat-mdc-form-field-icon-suffix,
  [dir="rtl"] .mat-mdc-form-field-icon-prefix {
    padding-bottom: 3px !important;
  }
}

.cdk-overlay-pane {
  .mat-mdc-menu-content {
    padding: 0px !important;
  }
}

.mat-mdc-raised-button .mat-mdc-button-touch-target {
  height: 0px !important;
}
